/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Helvetica Neue', sans-serif;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  overflow: hidden; }
  body svg.main {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }

#scene {
  cursor: none; }

.cursor {
  z-index: 999; }

svg * {
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center; }

.phoneCont {
  position: fixed;
  z-index: 50000;
  transition: all .25s ease-out; }

.shrunk {
  height: 20vh;
  bottom: 5vh;
  left: 5vh; }

.shrunk:hover {
  height: 22vh; }

.expanded {
  height: 100vh;
  bottom: 50vh;
  left: 50vw;
  transform: translate(-50%, 50%); }

.wave {
  transform: translateY(200vh);
  transition: all .5s ease-in-out; }

#transition {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 2000;
  max-width: 120vw;
  max-height: 120vh; }

.rotate {
  animation: rotate .5 infinite;
  animation-timing-function: linear;
  transition: all 1s; }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.bottle {
  transform: translateX(100vw); }

.bottleAnim {
  animation: bottleStagger 4s forwards; }

@keyframes bottleStagger {
  0% {
    transform: translateX(100vw); }
  30% {
    transform: translateX(-10vw); }
  50% {
    transform: translateX(0vw); }
  70% {
    transform: translateX(-5vw); }
  100% {
    transform: translateX(100vw); } }
.drive {
  animation: drive 2s; }

@keyframes drive {
  0% {
    transform: translateY(-50%) translateX(-250vw); }
  30% {
    transform: translateY(-50%) translateX(20vw); }
  80% {
    transform: translateY(-50%) translateX(-20vw); }
  100% {
    transform: translateY(-50%) translateX(100vw); } }

/*# sourceMappingURL=main.css.map */
