@import "reset";
@import "mixins";

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;

  svg.main {
    @include prefix(transform, scale(1.2));
  }
}

#scene {
  cursor: none;
}

.cursor {
  z-index: 999;
}

svg * {
	@include prefix(transform-origin, center);
}
